<section id="gigs" class="container">
  <h1>All Courses</h1>

  {{#each courses}}
  <div class="courses">
    <h3>Course: &nbsp; {{dataValues.name}}</h3>
    <span>{{dataValues.course_id}}</span>
    <button class="course-delete-btn" onclick="deletelog({{dataValues.course_id}})">X</button>
    <ul>
      <li>start date: &nbsp; {{dataValues.start_date}}</li>
      <li>end date: &nbsp; {{dataValues.end_date}}</li>
      <li>Hours total: &nbsp; {{dataValues.hours}}</li>
      {{!-- <li><a href="#" class="btn btn-reverse">Apply Now</a></li> --}}
    </ul>
    <div class="tech">
      <span>Teacher: &nbsp; {{dataValues.Teacher.dataValues.name}}</span>
    </div>
  </div>
  {{else}}
  <p>There are no courses in relation to your search.</p>
  {{/each}}

</section>

<script>
  const deletelog = (id) => {
    console.log(id)
  }
</script>